/* 基本样式 */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, NotoSansSC;
}

/* 响应式布局 */
body {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    padding: 20px;
	background-color: #004646;
}

.banner {
    max-width: 600px;
    width: 100%;
	height: 100%;
    padding: 0px 0;
    text-align: center;
    color: white;
}

.content {
	background-color: #FFF5EB;
    width: 100%;
    max-width: 600px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* 页脚样式 */
.footer {
    max-width: 800px;
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: #f0f0f0;
    font-size: 0.7rem;
}

.hr{
    width: 100%;
    margin:20px 0;
    border:.5px solid #909da3;
}


.area-1{
	margin:6px 0;
}
.area-2{
    max-width: 600px;
	margin:6px 0;
}
.area-3{
    margin:6px 0;
    display: flex;
	flex-direction: row;
	align-content: flex-start;
}
.area-2-1{
    margin-top: 20px;
    display: flex;
    flex-direction:column;
    
}
.but{
    width: 80%;
    height: 30px;
    margin:5px 20px 5px 0;
    text-align: center;
    align-content: center;
    background-color: #004646;
    color: #FFF5EB;
    font-size: .7rem;
}
.name {
	font-size:1.6rem;
	font-weight: bolder;
	color: #276077;
    margin: 20px 0;
}
.title{
	margin-bottom: 5px;
}
.company{
	font-size:0.7rem;
	font-weight: 700;
	color: #276077;
}
.info{
	display: flex;
	flex-direction:column;
	align-content: flex-start;
    align-items: flex-start;
    margin:5px;
}
.infotitle{
    font-size: 0.6rem;
    font-weight: 900;
    text-align: left;
    display: flex;
    align-items: center;
    margin:5px 0 0 0;
    padding-bottom:4px;
}
.infoinfo{
    margin:0;
    font-size:1rem;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}
.addtitle{
	color: #276077;
    font-size: 0.6rem;
    margin-right: 6px;
	font-weight: 700;	
}

.addinfo{
    font-size: 0.7rem;
}
.web{
	font-size:1rem;
	font-weight: 700;
	color: #276077;
}

/* 手机屏幕自适应样式 */
@media (max-width: 600px) {
    .banner {
        font-size: 1.5rem;
    }

}
